.flex-container-center {
    display: flex;
    justify-content: center;
}

.flex-container-right {
    display: flex;
    justify-content: right;
}

.flex-container {
    display: flex;
}

.flex-container-topleft {
    display: flex;
    justify-content: left;
    margin: auto;
    max-width: 800px;
}

.nav-links {
    margin: auto 10px;
    margin-top: 8px;
    display: flex;
    justify-content: right;
}

a:link {
    color: black;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    width: 30%;
    height: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}

.input {
    display: flex;
    height: 44px;
    border: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 540px;
    max-width: 584px;
    outline: none;
    font-size: 16px;
    word-wrap: break-word;
}

.roundbox {
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    margin: 0 auto;
    width: auto;
    max-width: 584px;
    border-radius: 24px;
}

.rec-search {
    background-color: transparent;
    border: 1px solid black;
    display: flex;
    margin: auto;
    width: 50px;
}

.button {
    height: 30px;
    margin: 10px;
    width: auto;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}